*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

#about {
  background-color: #ccc;
}

#work {
  background-color: #ddd;
}

#contact {
  background-color: #eee;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
